@import "tailwindcss";
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

@layer base{
  h1{@apply text-3xl md:text-4xl font-bold tracking-tight text-emerald-900;}
  h2{@apply text-2xl md:text-3xl font-bold tracking-tight text-emerald-900;}
  h3{@apply text-xl font-semibold text-emerald-900;}
}
body {
  min-height: 100vh;
  overflow-y: auto;
  background-color: #f6f9f6;
}